*, *::after, *::before {
	box-sizing: border-box;
}

html {
    padding: 0;
	margin: 0;
}

body {
	background-color: white;
    color: black;
	padding: 1em 0 1em 0;
	margin: 0;
	width: 100vw;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.075em;
}


main {
    width: 100%;
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    justify-content: center;
	row-gap: calc(0.6em + 1.5vw);
    overflow-x: hidden;
}

.content-block-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
 	justify-content: center;
    align-items: flex-start;
}

.content-block{
    display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
    align-items: flex-start;
    border-radius: 0.3em;
    color: black;
    width: min(calc(40rem + 25vw), 90vw);
    padding: 1em 2em 1em 2.5em;
    margin: 0;
    overflow: hidden;
}

#page-header {
    display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-content: flex-start;
}

h1 {
    display: block;
    width: 100%;
    font-size: 2.5em;
	font-weight: 900;
	letter-spacing: 0.05em;
    color: #081d58;
	padding: 0;
    margin: 0;
}

#page-header img {
    height: 1em;
    width: auto;
}

menu {
    margin: 0;
    padding: 0;
}

#top-menu  li{
    display: inline-block;
    font-weight: 700;
    color: #abb2c5;
    margin-right: 2.5em;
}

#top-menu a {
    text-decoration: none;
}

menu sup {
    font-size: 0.6em;
    vertical-align: baseline;
    position: relative;
    top: -0.7em;
}

#main-content {
    /* width: min(100%,37em);
    max-width: min(100%,37em); */
    width: 100%;
    opacity: 1; 
}

#main-content menu {
    margin: 1.5em;
    margin-top: 2em;
    float: right;
    text-align: right;
    font-size: 0.9em;
}

#main-content li {
    list-style-type: none;
}

#main-content p {
    width: 100%;
    text-indent: 2em;
    padding-right: calc(100% - 37em);
}

#main-content figure {
    width: min(45%, 20em);
    height: auto;
    float: right;
    padding: 0;
    margin: 1.5em;
    padding-right: 0;
    margin-right: 0;
}

#main-content figcaption {
    font-size: 0.9em;
}

#main-content img {
    width: 100%;
    height: auto;
}



#referances {
    font-size: 0.9em;
    opacity: 1;
}

#referances h3 {
    font-size: 1em;
    font-weight: 700;
}

















@media only screen and (max-width: 450px) {
    html { 
        font-size: 14px; 
   } 
   #main-content menu {
        float: none;
   }
   #main-content li {
       display: inline-block;
       margin-left: 2em;
   }
}
@media only screen and (min-width: 450px) { 
   html { 
       font-size: 14.3px;
   } 
   #main-content menu {
    float: none;
    }
    #main-content li {
        display: inline-block;
        margin-left: 2em;
    }
}
@media only screen and (min-width: 520px) { 
   html { 
       font-size: 14.6px; 
   } 
   #main-content menu {
    float: right;
}
#main-content li {
    display: block;
    margin-left: 0;
}
}
@media only screen and (min-width: 590px) { 
   html { 
       font-size: 15px; 
   } 
}
@media only screen and (min-width: 620px) { 
   html { 
       font-size: 15px; 
   }
}
@media only screen and (min-width: 710px) {
    html { 
        font-size: 15.7px; 
   } 
}
@media only screen and (min-width: 760px) { 
   html { 
       font-size: 16px; 
   } 
}
@media only screen and (min-width: 950px) { 
   html { 
       font-size: 16px; 
   }
}
@media only screen and (min-width: 1000px) { 
   html { 
       font-size: 16.2px; 
   }
}
@media only screen and (min-width: 1250px) { 
   html { 
       font-size: 16.5px; 
   }
}
@media only screen and (min-width: 1430px) { 
   html { 
       font-size: 16.75px; 
   }
}
@media only screen and (min-width: 1650px) { 
   html { 
       font-size: 17px; 
   }
}